.navbar {
    background-color: #dddecc !important;
}

.intro {
    background-image: url("imgs/COlor.jpg");
    height: auto;
    width: 100%;
}

.cap{
  width:100%;
  background: rgba(0,0,0,.7) !important;
}