.navbar {
    background-color: #dddecc !important;
}

.intro{
  width:100%;
  background-size: cover;
  background-color: #CDCCDE;
  background-image: url(imgs/COlor.jpg);
  text-align: center;

  padding-top: 100px;
  padding-bottom: 100px;
}

#about {
  background-color: #dddecc;
  padding-top: 25px;
  padding-bottom: 25px;
}

#about ul {
  list-style-type: none;
}

.cap{
  width:100%;
}